*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
}


.main-menu {
    width: 100%;
    background-color: #191e2d;
    padding: 10px 100px;
}

.main-menu__nav {
    display: flex;
    align-items: center;
}

.main-menu__a {
    background-color: #00c6e6;
    color: #191e2d;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.main-menu__a:hover {
    background-color: #03adc7;
}
.main-menu__a:active {
    background-color: #01869b;
}

button:focus, button:focus-visible {
    outline: none;
}


h1 {
    font-size: 40px;
    letter-spacing: 8px;
    color: #191e2d;
    text-align: center;
    margin: 20px auto;
    text-shadow: 3px 3px 4px #01869b;
}


section {
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #191e2d;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-shadow: 3px 3px 4px #01869b;
    cursor: pointer;
}

.section__p {
    font-size: 20px;
    color: #191e2d;
    font-weight: bold;
    text-align: center;
}

.content, .ccontent {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out; /* Плавный переход для изменения прозрачности и высоты */
}
.content.show, .ccontent.show {
    opacity: 1;
    max-height: 1000px;
}
.content.content-music, .ccontent.content-music {
display: flex;
    justify-content: center;
    flex-direction: column;
}



.section-player {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 400px;
    margin: 10px 0;
    color:#191e2d;
}

.section-flex {
    display: flex;
    align-items: center;
    gap: 40px;
}

.section-play {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #191e2d;
    border-radius: 50%;
    padding: 3px;
}

.section-play svg {
    width: 30px;
    height: 30px;
}

.section-info {
    display: flex;
    gap: 10px;
}

.section-info__a {
    height: 20px;
}

.section-info__a svg {
    width: 17px;
    height: 17px;
    margin-right: 4px;
}

.section-info__a:focus, .section-info__a:focus-visible {
    outline: none;
}






.info-menu {
    width: 100%;
    background-color: #191e2d;
    color: #c4cfd6;
    padding: 10px 0;
}

.info-menu__div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.icon {
    background-image: linear-gradient(to right, #fbff00, #d4a300);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
}





.section-stick {
    position: sticky;
    bottom: 0;
    background-color: #191e2d;
    border-radius: 10px;
}


.section-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #c4cfd6;
}

.section__button {
    border: 2px solid #191e2d;
    border-radius: 10px;
    background-color: #c4cfd6;
    padding: 10px;
    height: 60px;
    width: 60px;
}

.section__button:hover {
    background-color: #a1a1a1;
}

.section__button:active {
    background-color: #747474;
}

.section__button-img {
    height: 30px;
    mix-blend-mode: multiply;
}


.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: white;
}

#progressBar {
    width: 80%;
    margin: 0 10px;
    accent-color: white;
    cursor: pointer;
}
input[type="range"] {
    background-color: #747474;
    border-radius: 10px;
}
input[type="range"]::-moz-range-progress {
    background-color: #747474;
    border-radius: 10px;
}
input[type="range"]::-webkit-progress-bar {
    background-color: #747474;
    border-radius: 10px;
}
input[type="range"]::-ms-fill-lower, input[type="range"]::-ms-fill-upper {
    background-color: #747474;
    border-radius: 10px;
}

#progressBar:focus-visible {
    outline: none;
}

#currentTime, #duration {
    font-size: 14px;
}


#message1, #message2 {
    display: none;
}

@media (min-width: 1390px) {
    .section-player {
        padding-inline: 25%;
    }
}

@media (max-width: 1000px) {
    .section-player {
        padding-inline: 15%;
    }
}

@media (max-width: 800px) {
    .main-menu__a {
        font-size: 18px;
    }
}

@media (max-width: 610px) {
    .section-player {
        padding-inline: 3%;
    }
    .main-menu__a {
        font-size: 18px;
    }
}

@media (max-width: 580px) {
    h1 {
        font-size: 35px;
    }
}

@media (max-width: 470px) {
    .main-menu {
        padding: 10px 60px;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 22px;
    }
    .section-flex {
        gap: 20px;
    }
}

@media (max-width: 450px) {
    .main-menu {
        padding: 10px 30px;
    }
}

@media (max-width: 430px) {
    .scroll-container::-webkit-scrollbar {
        height: 7px;
    }
    .section-flex {
        gap: 10px;
    }
    .arrow-up {
        right: 20px;
    }
}

@media (max-width: 390px) {
    .main-menu__a {
        font-size: 17px;
    }
    h1 {
        font-size: 27px;
    }
    h2 {
        font-size: 20px;
    }
    td {
        font-size: 15px;
    }
    .info-menu__div {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 25px;
    }
    .arrow-up {
        right: 15px;
    }
}

@media (hover: none) {
    .main-menu__a:hover {
        background-color: #00c6e6;
    }

    .main-menu__a:active {
        background-color: #03adc7;
    }

    .td__button:hover {
        background-color: #c4cfd6;
    }
    
    .td__button:active {
        background-color: #a1a1a1;
    }

    .section__button:hover {
        background-color: #c4cfd6;
    }
    
    .section__button:active {
        background-color: #a1a1a1;
    }
}

@media (max-width: 600px) and (orientation: landscape) {
    .progress {
        padding: 15px 20px 0px;
    }
}

